In [4]:
print(name)

NameError: name 'name' is not defined

In [5]:
name : str = "Taimoor Kamran"
print(name)

Muhammad Taimoor

String Data Type in Python

In [11]:
# boundries
# string text 'string format', "string format", '''string format'''  """string format"""

name : str = 'Taimoor Kamran'
print(type(name))
print(name)
name1 : str = "Taimoor Kamran"
print(type(name1))
print(name1)
name2 : str = """Taimoor Kamran"""
print(type(name2))  
print(name2)

<class 'str'>
Taimoor Kamran
<class 'str'>
Taimoor Kamran
<class 'str'>
Taimoor Kamran

In [12]:
# Error
message : str = `PIAIC Student Card \n father's Name`

SyntaxError: invalid syntax (1066438536.py, line 1)

In [14]:
# if you want to use single quote this message should you need to use Double Quote ""
message = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [17]:
# if you want to use Double quote this message should you need to use single Quote ''
message = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [18]:
# Convert any special character into simple character, place \ before character
message : str = 'PIAIC "Student Card" \n father\'s Name'
print(message)

PIAIC "Student Card"
 father's Name

String Concatination

In [35]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
education : str = "Master in Data Science"
age : int = 18

card : str = "PIAIC Student Card \nStudent Name: " + name + "\nFather Name: " + fname + "\nAge: " + str(age) + "\neducation: " + education
print(card)

PIAIC Student Card
Student Name: Taimoor Kamran
Father Name: Kamran Sattar
Age: 18
education: Master in Data Science

In [37]:
# First Line Code
print(15 + 7 + 5)

27

In [38]:
# if you want to change line our code 
print(15 + \
      7 + \
        2)

24

In [40]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
education : str = "Master in Data Science"
age : int = 18

card : str = "PIAIC Student Card \nStudent Name: " + name +\
"\nAge: " + str(age) +\
      "\neducation: " + education
print(card)

PIAIC Student Card
Student Name: Taimoor Kamran
Age: 18
education: Master in Data Science

Define Mulitline String """ """, ''' '''

In [51]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
age : int = 18
education : str = "Master in Data Science"

card : str = f""" 
    PIAIC Students Card  
    Student Name: {name}
    Father's Name: {fname}
    Age: {age}
    Education: {education}
""" 

print(card)

    PIAIC Students Card
    Student Name: Taimoor Kamran
    Father's Name: Kamran Sattar
    Age: 18
    Education: Master in Data Science

In [62]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
age : int = 18
education : str = "Master in Data Science"

card : str = f""" 
    PIAIC Students Card  
    Student Name: {name}
    Father's Name: {fname}
    Age: {age}
    Education: {education}

    Total: {2 + 8 + 9 + 13}

""" 

print(card)

    PIAIC Students Card
    Student Name: Taimoor Kamran
    Father's Name: Kamran Sattar
    Age: 18
    Education: Master in Data Science

    Total: 32

F-string and Jinja style

In [57]:
# Jinja String
f"""
    student Name: {name}
"""

'\n    student Name: Taimoor Kamran\n'

In [60]:
# Jinja String
f"""
    student Name: {{name}}
"""

'\n    student Name: {name}\n'

In [68]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
age : int = 18
education : str = "Master in Data Science"

card : str = f""""
PIAIC Student Card
Student Name : %s
Father Name : %s
Age : %d
Education : %s    
""" % (name, fname, age, education)

print(card)

"
PIAIC Student Card
Student Name : Taimoor Kamran
Father Name : Kamran Sattar
Age : 18
Education : Master in Data Science

In [69]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [71]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [102]:
name : str = "Taimoor kamran"

print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.casefold())
print(name.swapcase())
print(name.format())

Taimoor kamran
taimoor kamran
TAIMOOR KAMRAN
taimoor kamran
tAIMOOR KAMRAN
Taimoor kamran

In [104]:
a = 7
b = 8

"Pakistan value a {} and value b {}".format(a, b)

'Pakistan value a 7 and value b 8'

In [106]:
name : str = "Taimoor Kamran"
fname : str = "Kamran Sattar"
age : int = 18
education : str = "Master in Data Science"

card : str = """"
PIAIC Student Card
Student Name : {b}
Father Name : {a}
Age : {d}
Education : {c}    
""".format(b=name, a=fname, d=age, c=education)

print(card)

"
PIAIC Student Card
Student Name : Taimoor Kamran
Father Name : Kamran Sattar
Age : 18
Education : Master in Data Science

Explore String Methods and Attributes

pre-define global function we have used
* print
* type
* id
* dir
* len

In [109]:
a: list[str] = [i for i in dir(str) if "__" not in i] 
print(a)
print(len(a))
print(a)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [114]:
name : str = "MuHammAd QasIm"
print(name)
print(name.capitalize())

MuHammAd QasIm
Muhammad qasim

In [113]:
name : str = "MuHammAd QasIm"
print(name)
print(name.casefold())

MuHammAd QasIm
muhammad qasim

In [118]:
name : str = "          MuHammAd QasIm        "
display(name)
display(name.lstrip())

'          MuHammAd QasIm        '

'MuHammAd QasIm        '

In [119]:
name : str = "          MuHammAd QasIm        "
display(name)
display(name.rstrip())

'          MuHammAd QasIm        '

'          MuHammAd QasIm'

In [121]:
name : str = "          MuHammAd TaImOoR        "
display(name)
display(name.strip())

'          MuHammAd TaImOoR        '

'MuHammAd TaImOoR'

In [128]:
import re

name : str = "          MuHammAd TaImOoR        "

print(name)

name1 : str = re.sub(' {2,100}', '      ', name)
display(name1)

          MuHammAd TaImOoR

'      MuHammAd TaImOoR      '

In [129]:
name : str = "MuHammAd TaImOoR"
display(name)
display(name.title())

'MuHammAd TaImOoR'

'Muhammad Taimoor'

In [132]:
first_name: str = "Taimoor"
last_name: str = "Kamran"
full_name: str = f"{first_name} {last_name}"
display(full_name)
print(f"Hello, {full_name.title()}")

'Taimoor Kamran'

Hello, Taimoor Kamran

\t
\n
\b

In [134]:
print("Name: \t\t Taimoor Kamran")

Name: 		 Taimoor Kamran

In [135]:
print("Name: \n\n Taimoor Kamran")

Name:

 Taimoor Kamran

In [139]:
print("Name: \bTaimoor Kamran")

Name:Taimoor Kamran

In [ ]:
nostrach_url : str = 'https://nostrach.com'
nostrach_url.removeprefix('https://')