Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* MembersShip operators
* Bitwise operators

In [8]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\DELL\anaconda3\envs\my-app

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.13.5             |       h24da03e_0         2.9 MB
    lxml-5.3.0                 |  py312h395c83e_1         1.1 MB
    ------------------------------------------------------------
                                           Total:         4.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.13.5-h24da03e_0
  libxslt            pkgs/main/win-64::libxslt-1.1.41-h0739af5_0
  lxml               pkgs/main/win-64::lxml-5.3.0-py312h395c83e_1



Downloading and Extracting Packages: ...working...
libxml2-2.13.5       | 2.9 MB    |            |   0%

lxml-5.3.0           | 1.1 MB    |            |   0%
libxml2-2.13.5       | 2.9 MB    | #2         |  12%
libxml2-2.13.5       | 2.9 MB    | #8         |  18%
libxml2-2.13.5       | 2.9 MB    | ##1        |  22%
libxml2-2.13.5       | 2.9 MB    | ##4        |  24%
libxml2-2.13.5       | 2.9 MB    | ##6        |  26%
libxml2-2.13.5       | 2.9 MB    | ##8        |  29%
libxml2-2.13.5       | 2.9 MB    | ###        |  30%
libxml2-2.13.5       | 2.9 MB    | ###1       |  32%
libxml2-2.13.5       | 2.9 MB    | ###3       |  34%
libxml2-2.13.5       | 2.9 MB    | ###5       |  35%
libxml2-2.13.5       | 2.9 MB    | ###6       |  37%
libxml2-2.13.5       | 2.9 MB    | ###8       |  38%
libxml2-2.13.5       | 2.9 MB    | ####       |  40%
libxml2-2.13.5       | 2.9 MB    | ####1      |  42%
libxml2-2.13.5       | 2.9 MB    | ####3      |  43%
libxml2-2.13.5       | 2.9 MB    | ####4      |  45%
libxml2-2.13.5       | 2.9 MB    | ####6      |  47%
libxml2-2.13.5       | 2.9 MB    | ####8      |  48%
libxml2-2.13.5       | 2.9 MB    | ####9      |  50%
libxml2-2.13.5       | 2.9 MB    | #####1     |  51%
libxml2-2.13.5       | 2.9 MB    | #####2     |  53%

lxml-5.3.0           | 1.1 MB    | ####2      |  43%
libxml2-2.13.5       | 2.9 MB    | #####4     |  55%

lxml-5.3.0           | 1.1 MB    | ####5      |  45%
libxml2-2.13.5       | 2.9 MB    | #####5     |  56%

lxml-5.3.0           | 1.1 MB    | ####6      |  47%
libxml2-2.13.5       | 2.9 MB    | #####6     |  57%

lxml-5.3.0           | 1.1 MB    | ####9      |  49%
libxml2-2.13.5       | 2.9 MB    | #####8     |  58%
libxml2-2.13.5       | 2.9 MB    | ######     |  61%

lxml-5.3.0           | 1.1 MB    | #####2     |  52%
libxml2-2.13.5       | 2.9 MB    | ######1    |  62%

lxml-5.3.0           | 1.1 MB    | #####6     |  56%
libxml2-2.13.5       | 2.9 MB    | ######3    |  63%
libxml2-2.13.5       | 2.9 MB    | ######4    |  64%

lxml-5.3.0           | 1.1 MB    | #####9     |  59%
libxml2-2.13.5       | 2.9 MB    | ######6    |  67%

lxml-5.3.0           | 1.1 MB    | ######1    |  62%
libxml2-2.13.5       | 2.9 MB    | ######8    |  68%
libxml2-2.13.5       | 2.9 MB    | ######9    |  69%
libxml2-2.13.5       | 2.9 MB    | #######    |  70%

lxml-5.3.0           | 1.1 MB    | ######4    |  65%
libxml2-2.13.5       | 2.9 MB    | #######1   |  71%
libxml2-2.13.5       | 2.9 MB    | #######2   |  72%

lxml-5.3.0           | 1.1 MB    | ######8    |  69%
libxml2-2.13.5       | 2.9 MB    | #######3   |  74%

lxml-5.3.0           | 1.1 MB    | #######1   |  71%
libxml2-2.13.5       | 2.9 MB    | #######4   |  75%
libxml2-2.13.5       | 2.9 MB    | #######5   |  76%

lxml-5.3.0           | 1.1 MB    | #######4   |  74%

lxml-5.3.0           | 1.1 MB    | #######5   |  75%
libxml2-2.13.5       | 2.9 MB    | #######6   |  77%
libxml2-2.13.5       | 2.9 MB    | #######7   |  78%

lxml-5.3.0           | 1.1 MB    | #######8   |  78%
libxml2-2.13.5       | 2.9 MB    | #######9   |  79%

lxml-5.3.0           | 1.1 MB    | ########   |  81%
libxml2-2.13.5       | 2.9 MB    | ########1  |  81%

lxml-5.3.0           | 1.1 MB    | ########2  |  82%
libxml2-2.13.5       | 2.9 MB    | ########2  |  82%

lxml-5.3.0           | 1.1 MB    | ########6  |  86%
libxml2-2.13.5       | 2.9 MB    | ########3  |  83%
libxml2-2.13.5       | 2.9 MB    | ########4  |  84%

lxml-5.3.0           | 1.1 MB    | ########9  |  89%
libxml2-2.13.5       | 2.9 MB    | ########5  |  86%

lxml-5.3.0           | 1.1 MB    | #########1 |  92%
libxml2-2.13.5       | 2.9 MB    | ########7  |  87%

lxml-5.3.0           | 1.1 MB    | #########4 |  95%
libxml2-2.13.5       | 2.9 MB    | ########8  |  88%
libxml2-2.13.5       | 2.9 MB    | ########9  |  89%

lxml-5.3.0           | 1.1 MB    | #########7 |  97%

lxml-5.3.0           | 1.1 MB    | #########8 |  99%
libxml2-2.13.5       | 2.9 MB    | #########  |  90%

lxml-5.3.0           | 1.1 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | #########1 |  91%
libxml2-2.13.5       | 2.9 MB    | #########2 |  92%

lxml-5.3.0           | 1.1 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | #########3 |  94%
libxml2-2.13.5       | 2.9 MB    | #########4 |  95%
libxml2-2.13.5       | 2.9 MB    | #########5 |  96%
libxml2-2.13.5       | 2.9 MB    | #########6 |  97%
libxml2-2.13.5       | 2.9 MB    | #########7 |  98%
libxml2-2.13.5       | 2.9 MB    | #########8 |  99%
libxml2-2.13.5       | 2.9 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | ########## | 100%
libxml2-2.13.5       | 2.9 MB    | ########## | 100%



                                                      done
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [1]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 7
b : int = 2

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division

9
5
14
3.5

In [4]:
a : int = 11
b : int = 3

print(a % 3)

2

In [6]:
print(2 ** 2)
print(2 ** 3)

4
8

In [7]:
print(12 / 3)

4.0

In [8]:
print(14 / 3)

4.666666666666667

In [9]:
print( 14 // 3)

4

In [10]:
print(14.8 // 3)

4.0

Python Assignment Operators


table[1]

In [11]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [12]:
# Assign

a : int = 7
b : int = 2

In [14]:
# +=

a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [15]:
# +=

a : int = 7
print(a)
a += 2
print(a)

7
9

In [16]:
# -=

a : int = 7
print(a)
a -= 2
print(a)

7
5

In [17]:
# *=

a : int = 7
print(a)
a *= 2
print(a)

7
14

In [18]:
# /=

a : int = 7
print(a)
a /= 2
print(a)

7
3.5

In [19]:
# %=

a : int = 7
print(a)
a %= 2
print(a)

7
1

In [20]:
# //=

a : int = 7
print(a)
a //= 2
print(a)

7
3

Python Comparison Operators

In [21]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [23]:
a : int = 10
b : int = 10

print(a == b)
# a == b
# 10 == 10
# True

True

In [25]:
a : int = 10
b : str = "10"

print(a == b)
# a == b
# 10 == 10
# True

False

In [26]:
a : int = 10
b : int = 10

print(a != b)
# a == b
# 10 == 10
# False

False

In [ ]:
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [29]:
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [31]:
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# True

True

In [33]:
a : int = 10
b : int = 8

print(a < b)
# a > b
# 7 > 8
# False

False

In [ ]:
a : int = 2
b : int = 7

print(a >= b)

True

In [36]:
a : int = 7
b : int = 7

print(a >= b)

True

In [41]:
a : str = 'A'
b : str = 'B'

print(a < b)

True

In [37]:
a : int = 7
b : int = 8

print(a <= b)

True

In [44]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

ASCII (American Standard Code for Information Interchange) 

ASCII Code
```A = 65 
z = 90

a = 97
z = 122

0 = 97
``````

In [77]:

chr(65)

'A'

In [79]:
ord('a')

97

Python Logical Operators

In [80]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [84]:
print(True and True and True and True)
print(True and True and True and False)
print(True and False and True and True)

True
False
False

In [85]:
print(True or True or True or True)
print(True or True or True or False)
print(True or False or True or True)

True
True
True

In [87]:
not True

False

In [93]:
name : str = "Taimoor"
print(not name=="Taimoor")

False

In [98]:
name : str = "Taimoor"
print(name!="Wrong Name")

True

In [99]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

Python Identity Operators

In [104]:
x : str = "abc"
y : str = "abc"

print(id(x))
print(id(y))

x is not y

140732620542216
140732620542216

False

In [109]:
i : str = "abc"
j : str = "xyz"

print(id(i))
print(id(j))

i is not j

140732620542216
1999736957248

True

In [103]:
x is y

True

Python Membership Operators

In [105]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [121]:
names : list[str] = [chr(i) for i in range(65, 91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [126]:
names : list[str] = [chr(i) for i in range(65, 91)]
display(names)

"Pakistan" in  names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [125]:
names : list[str] = [chr(i) for i in range(65, 91)]

"D" not in names

False

In [132]:
names : list[str] = ["Sir Zia", "Sir Qasim", "Sir Ameen Alam"]

uinput : str = input("Enter Your Name")

uinput in names

True

In [133]:
names : list[str] = ["Sir Zia", "Sir Qasim", "Sir Ameen Alam"]

uinput : str = input("Enter Your Name")

uinput not in names

True

PEMDAS

In [4]:
print(3 + 2 - 2 * 4 / 2 + 2)
# 3 + 2 - 8 / 2 + 2
# 3 + 2 - 4 + 2
# 6 - 8

3.0