# List
* iteration operation with loop
* apply any operation on element

In [ ]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]
print(names)

['Sir Zia', 'Sir Ameen Alam', 'Sir Qasim']

In [10]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]

for name in names:
    print(name)

Sir Zia
Sir Ameen Alam
Sir Qasim

In [11]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]

i: int = 0

while i<len(names):
    print(names[i])
    i += 1

Sir Zia
Sir Ameen Alam
Sir Qasim

In [20]:
for name in names:
    print(f"Welcome Dear Teacher {name.upper()}")

Welcome Dear Teacher SIR ZIA
Welcome Dear Teacher SIR AMEEN ALAM
Welcome Dear Teacher SIR QASIM

In [23]:
for name in names:
    print(f"Welcome Dear Teacher {name.upper()}")
    print("PIAIC GENERATIVE AI TEAM")

Welcome Dear Teacher SIR ZIA
PIAIC GENERATIVE AI TEAM
Welcome Dear Teacher SIR AMEEN ALAM
PIAIC GENERATIVE AI TEAM
Welcome Dear Teacher SIR QASIM
PIAIC GENERATIVE AI TEAM

In [31]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]

for name in names:
    print(f"Welcome Dear Teacher {name.upper()}")
    print("PIAIC GENERATIVE AI TEAM\n")

print("Pakistan Zinda bad")

Welcome Dear Teacher SIR ZIA
PIAIC GENERATIVE AI TEAM

Welcome Dear Teacher SIR AMEEN ALAM
PIAIC GENERATIVE AI TEAM

Welcome Dear Teacher SIR QASIM
PIAIC GENERATIVE AI TEAM

Pakistan Zinda bad

In [34]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]

for name in names[-2:]:
    print(f"Welcome Dear Teacher {name.upper()}")
    print("PIAIC GENERATIVE AI TEAM\n")

print("Pakistan Zinda bad")

Welcome Dear Teacher SIR AMEEN ALAM
PIAIC GENERATIVE AI TEAM

Welcome Dear Teacher SIR QASIM
PIAIC GENERATIVE AI TEAM

Pakistan Zinda bad

In [35]:
data_base : list[tuple] = [("Taimoor", '123'),
                           ("Sir Zia", "345"),
                           ("Sir Ameen Alam", "978")]

for row in data_base:
    print(row)

('Taimoor', '123')
('Sir Zia', '345')
('Sir Ameen Alam', '978')

In [38]:
data_base : list[tuple] = [("Taimoor", '123'),
                           ("Sir Zia", "345"),
                           ("Sir Ameen Alam", "978")]

for row in data_base:
    user, password = row
    print(user, password)

Taimoor 123
Sir Zia 345
Sir Ameen Alam 978

In [39]:
input_user: str = input("Enter user name")
print(input_user)

Enter user name Taimoor Kamran Pakistan Zindabad

Taimoor Kamran Pakistan Zindabad

In [50]:
data_base: list[tuple[str, str]] = [("taimoor", '123'),
                                   ("sirzia", '345'),
                                   ("ameenbhai", '678')]

input_user: str = input("Enter user name")
input_password: str = input("Enter user password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not Found or invalid input")

Enter user name taimoor
Enter user password 123

Valid User

In [52]:
data_base: list[tuple[str, str, int]] = [("taimoor", '123', 1),
                                   ("sirzia", '345', 2),
                                   ("ameenbhai", '678', 3)]

input_user: str = input("Enter user name")
input_password: str = input("Enter user password")
input_id: int = input("Enter user id")

for row in data_base:
    user, password, id = row
    if input_user == user and input_password == password and input_id == id:
        print("Valid User")
        break
else:
    print("Not Found or invalid input")

Enter user name taimoor
Enter user password 123
Enter user id 1

Not Found or invalid input

In [2]:
# Define the database
data_base: list[tuple[str, str, int]] = [
    ("taimoor", '123', 1),
    ("sirzia", '345', 2),
    ("ameenbhai", '678', 3)
]

# Take user input
input_user: str = input("Enter user name: ")
input_password: str = input("Enter user password: ")
input_id: int = int(input("Enter user id: "))  # Convert to int

# Check credentials
for row in data_base:
    user, password, id = row
    if input_user == user and input_password == password and input_id == id:
        print("Valid User")
        break
else:
    print("Not Found or Invalid Input")

Enter user name:  taimoor
Enter user password:  123
Enter user id:  1

Valid User

In [4]:
names: list[str] = ["Sir Zia", "Sir Ameen Alam", "Sir Qasim"]

for name in names:
    print(name)
else: 
    print("Hello World")

Sir Zia
Sir Ameen Alam
Sir Qasim
Hello World

In [8]:
magicians: list[str] = ["alice", "david", "carolina"]

for magician in magicians:
    print(f"{magician.title()}, thats was a great trick")

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, thats was a great trick
David, thats was a great trick
Carolina, thats was a great trick
I can't wait to see your next trick, Carolina.

# Numbers with loop
* `range(start,end,step)`

In [2]:
range(10)

range(0, 10)

In [4]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
list(range(2,22,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
for n in range(2, 21, 2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [11]:
for n in range(1, 11):
    print(f"1 * {n} = {n}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [18]:
squares: list[int] = []
for value in range(1, 10):
    sqaure = value ** 2
    squares.append(sqaure)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# List Coprehansive
```
for item in items_list:
    loop_body
```

# Coprehansive Style
```
[loop_bodyfor item in items_list:]
   
```

In [26]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
digits: list[int] = [1,2,3,4,5,6,7,8,9]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1
45

In [54]:
my_foods: list[str] = ["Pizza", "falafel", "carrot cake"]
friends_food = my_foods[:]

print(my_foods)
print(friends_food)

friends_food[0] = "Tikka"

print(my_foods)
print(friends_food)

['Pizza', 'falafel', 'carrot cake']
['Pizza', 'falafel', 'carrot cake']
['Pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [62]:
names: tuple[str,str] = ['A', "B", 'c']

print(names[0])
print(names[0:2])

A
['A', 'B']

In [6]:
names: tuple[str,str] = ['A', "B", 'c']

print(names)
names[0] = "Pakistan"


print(names)

['A', 'B', 'c']
['Pakistan', 'B', 'c']

In [18]:
from typing import Any

data: tuple[Any] = ["A", [1,2,3], True]

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
['A', [1, 2, 3, 20], True]

In [24]:
a = input("Taimoor") # String Return 
print(type(a))
print(a)

Taimoor 123

<class 'str'>
123

In [30]:
sorted([1,5,4,3,7,8])

[1, 3, 4, 5, 7, 8]